# =============================================================================
# LocalStack
# =============================================================================
localstack/volume/
localstack/.env

# =============================================================================
# Terraform
# =============================================================================
**/.terraform/
**/.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# =============================================================================
# OS & Editor
# =============================================================================
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/
*.code-workspace
